* {
    -fx-back-color: #ffffff;
    -fx-main-color: #e1e1e1;
    -fx-text-color: #444444;
    -fx-tab-color: #d24726;
    -fx-border-color-v: #d2d5d8;
    -fx-button-color: #d24726;
    -fx-button-hover-color: #dc0004;
    -fx-button-add-color: #555f5e;
    -fx-button-add-hover-color: #5f6968;
}

.background {
    -fx-background-color: -fx-back-color;
    -fx-color: -fx-back-color;
    -fx-text-fill: -fx-text-color;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: -fx-text-color;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -fx-text-color;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35px;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -fx-text-color;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: #ff7776;
}

/*ff4d4d*/
.context-menu {
    -fx-background-color: #ff7776;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -fx-text-color;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #000000;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-focus-color: #a9cdff;
    -fx-padding: 0 0 0 0;
    -fx-border-color: #e8e8e8;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: #e8e8e8;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 9pt;
    -fx-text-fill: -fx-text-color;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #a9cdff;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: derive(-fx-focus-color,30%);
    -fx-text-fill: -fx-text-color;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: -fx-text-color;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.tab {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: -fx-tab-color;
    -fx-background-color: -fx-tab-color;
    -fx-text-fill: -fx-text-color;
}

.tabs-main-menu *.tab-header-background {
    -fx-background-color: -fx-tab-color;
}

.test {
    -fx-background-color: -fx-main-color;
}

.tabs-main-menu {
    -fx-background-color: -fx-main-color;
    -fx-text-fill: -fx-text-color;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -fx-border-color-v;
    -fx-font: 18px Calibri;
}

.tab:selected
{
    -fx-background-color: -fx-main-color;
    -fx-border-color: -fx-main-color;
    -fx-text-fill: -fx-text-color;
    -fx-border-insets :0,0;
}

.anchor-pane > .button, .pane-user  > .button {
    -fx-background-color: -fx-main-color;
    -fx-border-color: -fx-main-color;
    -fx-text-fill: -fx-text-color;
    -fx-font: 18px Calibri;
}

.anchor-pane > .button:hover, .pane-user  > .button:hover {
    -fx-background-color: -fx-border-color-v;
}

.anchor-pane > .label {
    -fx-text-fill: -fx-text-color;
}

.pane-level {
    -fx-background-color: -fx-main-color;
    -fx-border-color: -fx-border-color-v;
    -fx-border-width: 0 1 0 0;
}

.pane-inspector {
    -fx-background-color: -fx-main-color;
    -fx-border-color: -fx-border-color-v;
    -fx-border-width: 0 0 0 1;
}

.pane-assets {
    -fx-border-color: -fx-border-color-v;
    -fx-background-color: -fx-main-color;
    -fx-border-width: 1 0 0 0;
}

.pane-assets > .btn-add, .pane-level > .btn-add {
    -fx-background-color: -fx-back-color;
    -fx-text-fill: -fx-text-color;
    -fx-color: -fx-back-color;
    -fx-border-color: -fx-border-color-v;
    -fx-border-width: 2 2 2 2;
    -fx-stroke: 0;
    -fx-font: 30px Calibri;
}

.pane-assets > .btn-add:hover, .pane-level > .btn-add:hover {
    -fx-background-color: -fx-button-add-color;
    -fx-text-fill: -fx-text-color;
    -fx-color: -fx-button-add-color;
    -fx-stroke: 0;
    -fx-font: 30px Calibri;
}

.list-view {
    -fx-background-color: -fx-back-color;
    -fx-color: -fx-back-color;
    -fx-text-fill: -fx-text-color;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: -fx-border-color-v;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -fx-button-color;
    -fx-text-fill: -fx-text-color;
}

.list-cell {
    -fx-control-inner-background: -fx-back-color;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 10%);
}

.list-cell:filled:hover {
    -fx-background-color: -fx-button-add-hover-color;
    -fx-text-fill: -fx-text-color;
}

.pane-level > .text-field {
    -fx-background-color: -fx-back-color;
    -fx-text-fill: -fx-text-color;
    -fx-color: -fx-back-color;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: -fx-border-color-v;
    -fx-font: 30px Calibri;
    -fx-border-radius: 0;
}

.pane-level > .button {
    -fx-background-color: -fx-button-color;
    -fx-text-fill: -fx-text-color;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: -fx-button-color;
    -fx-font: 30px Calibri;
    -fx-border-radius: 0;
}

.pane-level > .button:hover, .pane-level > .button:selected {
    -fx-background-color: -fx-button-hover-color;
}

.pane-level > .btn-add {
    -fx-background-color: -fx-back-color;
    -fx-text-fill: -fx-text-color;
    -fx-color: -fx-back-color;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: -fx-border-color-v;
    -fx-stroke: 0;
    -fx-font: 30px Calibri;
}

.pane-level > .btn-add:hover {
    -fx-background-color: -fx-button-add-color;
    -fx-text-fill: -fx-text-color;
    -fx-color: -fx-button-add-color;
    -fx-stroke: 0;
    -fx-font: 30px Calibri;
}

.root { -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent; }

.button { -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;}

.scroll-pane .viewport {
    -fx-background-color: -fx-back-color;
}